---
import { products } from "../../backend/db";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { Product } from "../../backend/product";
export const getStaticPaths = (() => {
  return products.map((itm) => {
    return {
      params: { id: itm.prodId },
    };
  });
}) satisfies GetStaticPaths;
const { id } = Astro.params;
const items = products.find((itm) => itm.prodId === id);
const item = items ?? new Product();
---

<BaseLayout title={item.prodName}>
  <div class="container-product container mx-auto">
    <div class="frame-product">
      <div class="product-name">
        {item.prodName}
        <span class="prod-vendor-name text-blue"> {item.vendorName}</span>
      </div>
      <div class="product-info">
        <div
          class="product-image"
          style={{ backgroundImage: `url("/${item.imageUrl}")` }}
        >
        </div>
        <div class="product-details">
          <div class="details-hug">
            <div class="prod-rating text-blue">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
              <i class="bi bi-star"></i>
            </div>
            <div class="prod-desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Excepturi ipsa cum quae ad. Numquam asperiores ullam vitae
              eligendi provident magnam!
            </div>
            <div class="prod-actions">
              <button class={`fav-btn fav-btn-${item.prodId}`}
                ><i class="bi bi-heart"></i></button
              >
              <button class=`basket-btn bg-green basket-btn-${item.prodId}`>
                <i class="bi bi-basket2-fill"></i> Add To Basket
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto mt-2 comments-container">
    <h3>Comments</h3>
    <div class="comment">
      <div class="comment-profile">
        <img src="/banu.jpg" class="comment-pic" alt="" srcset="" />
        <div class="comment-name">Jane Doe</div>
        <div class="comment-rating text-blue">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste
        porro rerum perspiciatis rem saepe aperiam quidem ea enim cum labore, a
        natus quas voluptates id beatae consequuntur repudiandae vero maxime
        dolorem, officiis recusandae necessitatibus dolore? Repellat commodi
        eveniet aperiam. Amet ipsum quam magnam alias culpa odio modi suscipit
        praesentium.
      </div>
    </div>
    <div class="comment">
      <div class="comment-profile">
        <img src="/banu.jpg" class="comment-pic" alt="" srcset="" />
        <div class="comment-name">Jane Doe</div>
        <div class="comment-rating text-blue">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste
        porro rerum perspiciatis rem saepe aperiam quidem ea enim cum labore, a
        natus quas voluptates id beatae consequuntur repudiandae vero maxime
        dolorem, officiis recusandae necessitatibus dolore? Repellat commodi
        eveniet aperiam. Amet ipsum quam magnam alias culpa odio modi suscipit
        praesentium.
      </div>
    </div>
    <div class="comment">
      <div class="comment-profile">
        <img src="/banu.jpg" class="comment-pic" alt="" srcset="" />
        <div class="comment-name">Jane Doe</div>
        <div class="comment-rating text-blue">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste
        porro rerum perspiciatis rem saepe aperiam quidem ea enim cum labore, a
        natus quas voluptates id beatae consequuntur repudiandae vero maxime
        dolorem, officiis recusandae necessitatibus dolore? Repellat commodi
        eveniet aperiam. Amet ipsum quam magnam alias culpa odio modi suscipit
        praesentium.
      </div>
    </div>
    <div class="comment">
      <div class="comment-profile">
        <img src="/banu.jpg" class="comment-pic" alt="" srcset="" />
        <div class="comment-name">Jane Doe</div>
        <div class="comment-rating text-blue">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste
        porro rerum perspiciatis rem saepe aperiam quidem ea enim cum labore, a
        natus quas voluptates id beatae consequuntur repudiandae vero maxime
        dolorem, officiis recusandae necessitatibus dolore? Repellat commodi
        eveniet aperiam. Amet ipsum quam magnam alias culpa odio modi suscipit
        praesentium.
      </div>
    </div>
  </div>
</BaseLayout>
<script is:inline define:vars={{ item }}>
  const favButton = document.querySelector(`.fav-btn-${item.prodId}`);
  let favItems = JSON.parse(localStorage.getItem("favItems"));
  if (!favItems) favItems = [];
  const existingIndex = favItems.findIndex((itm) => itm.prodId === item.prodId);
  if (existingIndex !== -1) {
    favButton.innerHTML = '<i class="bi bi-heart-fill"></i>';
  }
  favButton?.addEventListener("click", (e) => {
    e.stopPropagation();
    e.preventDefault();
    let prevItems = JSON.parse(localStorage.getItem("favItems") ?? "[]");
    const existingIndex = prevItems.findIndex(
      (itm) => itm.prodId === item.prodId
    );
    if (existingIndex !== -1) {
      favButton.innerHTML = '<i class="bi bi-heart"></i>';
      prevItems.splice(existingIndex, 1);
    } else {
      favButton.innerHTML = '<i class="bi bi-heart-fill"></i>';

      prevItems.push(item);
    }
    localStorage.setItem("favItems", JSON.stringify(prevItems));
  });

  // basket
  const basketButton = document.querySelector(`.basket-btn-${item.prodId}`);
  basketButton.addEventListener("click", (e) => {
    e.stopPropagation();
    e.preventDefault();
    let basketItems = JSON.parse(localStorage.getItem("basketItems"));
    if (!basketItems) basketItems = [];
    const existingIndex = basketItems.findIndex(
      (itm) => itm.prodId === item.prodId
    );
    if (existingIndex !== -1) {
      basketItems[existingIndex].count++;
    } else {
      basketItems.push({ ...item, count: 1 });
    }
    localStorage.setItem("basketItems", JSON.stringify(basketItems));
    new Toast({
      message: "Added to Basket",
      type: "success",
    });
    updateNavBasket();
  });
</script>

<style>
  .comment-rating {
    font-size: 20px;
  }
  .comment {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #989898;
    border-radius: 20px;
    background-color: #f9f9f9;
  }
  .comment-content {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    background-color: #e2e2e2;
    margin-top: 8px;
    border-radius: 20px;
  }
  .comment-name {
    font-weight: bold;
    font-size: 16px;
  }
  .comment-profile {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .comment-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .prod-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .frame-product {
    padding: 20px;
    border: 1px solid #989898;
    border-radius: 20px;
    margin-top: 40px;
  }
  .product-name {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 8px;
  }
  .prod-vendor-name {
    font-size: 24px;
    font-weight: bolder;
  }
  .product-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .product-image {
    width: 100px;
    display: flex;
    justify-content: center;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    min-width: 200px;
    flex: 3;
  }

  .product-details {
    flex: 1;
  }
  .details-hug {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .prod-desc {
    margin: 20px;
    width: 180px;
    font-size: 14px;
    text-align: center;
  }
</style>
