---
import CategoryCard from "../components/CategoryCard.astro";
import ProdCard from "../components/ProdCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { popularProducts, saleProducts } from "../backend/db.ts";
---

<BaseLayout title="Eticdot">
  <div class="container mx-auto">
    <div class="banners">
      <div class="banner-1 container">
        <img src="sales_banners.jpg" alt="" srcset="" />
      </div>
      <div class="banner-2">
        <img src="laptop-sale.jpeg" alt="" srcset="" />
        <img src="headphone-sale.png" alt="" srcset="" />
      </div>
    </div>
  </div>
  <div class="items container mx-auto">
    <div class="items-title">
      <span class="text-blue">Popular</span> Products <span class="text-blue"
        ><i class="bi bi-arrow-up-right"></i></span
      >
    </div>
    <div class="item-rack">
      {
        popularProducts.map((itm) => {
          return (
            <ProdCard
              prodName={itm.prodName}
              vendorName={itm.vendorName}
              price={itm.price}
              prevPrice={itm.prevPrice}
              imageUrl={itm.imageUrl}
              prodId={itm.prodId}
            />
          );
        })
      }
    </div>
  </div>
  <div class="items container mx-auto">
    <div class="items-title">
      <span class="text-blue">Sale</span> Products <span class="text-blue"
        ><i class="bi bi-tags"></i></span
      >
    </div>
    <div class="item-rack">
      {
        saleProducts.map((itm) => {
          return (
            <ProdCard
              prodName={itm.prodName}
              vendorName={itm.vendorName}
              price={itm.price}
              prevPrice={itm.prevPrice}
              imageUrl={itm.imageUrl}
              prodId={itm.prodId}
            />
          );
        })
      }
    </div>
  </div>
  <div class="items container mx-auto">
    <div class="items-title">
      <span class="text-blue">Popular</span> Categories <span class="text-blue"
        ><i class="bi bi-tags"></i></span
      >
    </div>
    <div class="item-rack">
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
      <CategoryCard categoryName="Laptops" imageUrl="cat-laptop.jpg" />
    </div>
  </div>
</BaseLayout>

<style>
  .categories {
    margin-top: 50px;
  }
  .category-rack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .items {
    margin-top: 40px;
  }
  .items-title {
    font-size: 32px;
    font-weight: bold;
  }
  .item-rack {
    background-color: #e2e2e2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .banner-1 img {
    width: 100%;
  }
  .banner-2 img {
    width: 50%;
    margin: 10px;
  }
  .banner-2 {
    display: flex;
  }
  .banners {
    margin-top: 20px;
  }
</style>
